@font-face {
    font-family: "Harabara Bold";
    src: url("./../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  }


  /*  Volunteer Form  Styling */
  .btnSubmitVolunteer{
    background: #eb5d5f;
    width: 28%;
    padding: 2% 3%;
    border-radius: 34px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 7%;
  }
  .containerCheckboxOfVounteer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .containerCheckboxOfVounteer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmarkOfVolunteer {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .containerCheckboxOfVounteer:hover input ~ .checkmarkOfVolunteer {
    background-color: #ccc;
  }

/* When the checkbox is checked, add a blue background */
.containerCheckboxOfVounteer input:checked ~ .checkmarkOfVolunteer {
  background-color: #EB5D5F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.containerCheckboxOfVounteer:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */
.containerCheckboxOfVounteer input:checked ~ .checkmarkOfVolunteer:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckboxOfVounteer .checkmarkOfVolunteer:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




















  .containerVolunteerForm{
    padding-left: 11%;
    padding-bottom: 10%;
    padding-right: 11%;
    padding-top: 3%;
  }
.containerFormOfSelector{
  
}
.howYouCanHelpVounteerText{

}
.selectorOfVolunteer{
  /* float: left; */
}
.selectorOfFundraising{

}
.headingVolunteerForm{
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  opacity: .6;
}

.headingFieldVolunteer{
  color: #EB5D5F;
font-weight: bold;
}

.inputOfNameVolunteer{
  border: none;
  width: 100%;
  padding-bottom: 0.3%;
font-size: 0.8vw;
margin-bottom: 4%;
border-bottom: 1px solid #EB5D5F;
}

  .containerOverlayFeatures {
    margin-top: 100;
    background: #ecf4fa;
    align-items: center;
    height: auto;
  }
  
  .socialIconsFea {
    margin-right: -9px;
    float: left;
  }
  .followUsTextFea {
  
    font-size: 1vw;
    float: left;
    color: aliceblue;
    margin: auto;
    margin-top: 1%;

    margin-right: 5%;
  
  }
  .socialMediaTabFea {
  
    margin-top: -64px;
    padding: 15px 60px ;
    background-color: #404864;
    width: 30%;
    height: auto;
    padding-right: 0%;
  
  }
  .socialMediaTabFea > a {
    text-decoration: none;
    width: 10%;
    margin-left: 2%;
    padding-top: 2.4%;
    margin-bottom: 2.4%;
  
  }
  .ke-over {
    padding: 60;
  }
  
  .cardHeadingFea {
    font-size: 21px;
    opacity: 0.7;
    font-family: "Harabara Bold";
    font-weight: bold;
  }
  .containerButtonFea {
    font-family: "Harabara Bold";
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    font-size: 15px;
    width: 74%;
    cursor: pointer;
    color: #fff;
    background-color: #03b9fe;
    padding: 13px 35px;
  }
  .containerImageFeatures {
    margin-top: -50px;
    margin-right: -50px;
  }
  .containerDdescFea {
    opacity: 0.7;
    font-size: 16px;
  }
  .cardCcontainerFeatures {
    margin: 5%;
    width: 250px;
    text-align: center;
    padding: 23px;
    height: 100%;
    background: #ffff;
  }
  .card-container-kf {
    width: 250;
    padding: 25;
    height: auto;
    background-color: #fff;
  }
  .cardimagecontainer {
    margin-top: -50;
    margin-right: -50;
  }
  .containerStyleFeatures {
    padding-top: 80px;
    padding-bottom: 9.34%;
    width: 80%;
    margin-left: 10%;
  }
  
  
  @media screen and (max-width: 1366px) {
      .containerStyleFeatures {
          padding-top: 80px;
          padding-bottom: 9.34%;
          width: 80%;
          margin-left: 10%;
        }
        
    }
    @media screen and (max-width: 1150px) {
        .containerStyleFeatures {
            padding: 7%;
            padding-top: 80px;
            padding-bottom: 9.34%;
        }
    }
@media screen and (max-width: 1007px) {
    .containerStyleFeatures {
        padding: 0%;
        padding-top: 80px;
        padding-bottom: 9.34%;
    }
}
  @media screen and (max-width: 919px) {
    .containerOverlayFeatures {
  
      margin-top: 100;
      background: #ecf4fa;
      align-items: center;
      height: auto;
    
    }
    .containerStyleFeatures {
  
      padding: 18%;
  
  }
  .cardCcontainerFeatures {
    margin: 10%;
    /* width: 250px; */
    padding: 23px;
    text-align: center;
    height: auto;
    /* position: absolute; */
    margin-left: auto;
    background: #ffff;
    margin-right: auto;
    margiin-top: 14%;
  
  }
  /* sadadas */
  .containerButtonFea {
  
    font-family: "Harabara Bold";
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    font-size: 15px;
    width: 120px;
    color: #fff;
    background-color: #03b9fe;
    padding: 13px 35px;
  
  }
  .socialMediaTabFea {
  
    margin-top: -64px;
    padding: 13px 60px;
    background-color: #404864;
    width: 100%;
    height: auto;
    padding-right: 0%;
  }
  .followUsTextFea {
    font-size: 3vw;
    float: left;
    color: aliceblue;
    margin: 6px;
    margin-left: 6%;
    margin-right: 5%;
  }
  .headingVolunteerForm {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    opacity: .6;
}
.btnSubmitVolunteer {
  background: #eb5d5f;
  width: 71%;
  padding: 4% 3%;
  border-radius: 34px;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-top: 7%;
}
  }
  
  